{% extends 'home/base.html' %}

{% block content %}

  <div class="container">
        <br><hr><hr>
        <div class="row">
            <div class="col-lg-6 col-sm-7" >

                <h1>
                    Noida
                </h1>
                 <h1><br>
                    Akshit Villa<br>
                    A-95 Sector-61<br>

                 </h1>
                  <h1><br>
                      <img src="http://img.freepik.com/free-icon/phone-call-button_318-76472.jpg?size=338&ext=jpg" height="50" width="50">
                    8810376363
                  </h1>
                <h1 style="color:red">
               24 hours delivery!!

                </h1>
                <h1>
                    nutridish@gmail.com
                </h1>

            </div>
            <div class="col-lg-6 col-sm-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14012.46987013974!2d77.35692610540829!3d28.59625262569563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDM1JzM4LjYiTiA3N8KwMjEnNTUuOCJF!5e0!3m2!1sen!2sin!4v1523089963189"
                     width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    <hr><hr>
    </div>

{% endblock %}