{% extends 'home/base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
            <hr>
               <p>
                   <br>

               </p>
            </div>
            <div class="col-lg-4 col-sm-6">
            <div class="card">
            <img class="card-img-top" src="\static\shake.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Smoothies</h5>
                    <p class="card-text">A smoothie (occasionally spelled smoothee or smoothy) is a thick beverage made from blended raw fruit,
                                        vegetables or ice cream and cookies with other ingredients such as water, ice, or sweeteners. <br> <br> <span style="font-weight:bold;">Calories:</span> 1300 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 100</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\wrap.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Lemon Spinach Sandwich</h5>
                    <p class="card-text">So what on earth does ‘green goddess’ mean? Honestly… I have no idea. I don’t know where the name originated
                        (please enlighten me if you know!), but I’ve heard the term used in various contexts.
                        <br> <br> <span style="font-weight:bold;">Calories:</span> 600 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 200</a>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\sand.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Grilled Chicken with vegetables</h5>
                  <p class="card-text">Very tasty. Lovely to eat. Filled with calories? I dont think so. <br> <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 500</a>
                </div>
            </div>
        </div>
        </div>
        <hr>
    </div>

        <div id="divider">
            <br><br>

            <h1>Finger licking healthy !!</h1>
             <a href="tel:+919873674348">
                    <img src="https://www.trtbanners.com/product_images/uploaded_images/trt-order-now-button.png" alt="order now" height="150" width="390"></a>
                <h5>BECAUSE WE WANT YOU TO EAT HEALTHY! <BR> AS WELL AS TASTY!!</h5>
            <br>
        </div>

    <div class="container">
        <br><hr>
        <div class="row">

            <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
             <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
            </div>
    </div>

        <div id="divider_2">
            <br><br>

            <h1>Finger licking healthy !!</h1>
             <a href="tel:+919873674348">
                    <img src="https://www.trtbanners.com/product_images/uploaded_images/trt-order-now-button.png" alt="order now" height="150" width="390"></a>
                <h5>BECAUSE WE WANT YOU TO EAT HEALTHY! <BR> AS WELL AS TASTY!!</h5>
            <br>
        </div>
    <div class="container">
        <br><hr>
        <div class="row">

            <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
             <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="\static\rice.jpg" alt="Card image cap">

              <div class="card-body">
                    <h5 class="card-title">Chicken Rice with Egg</h5>
                    <p class="card-text">It is a dish adapted from early Chinese immigrants originally from Hainan province in southern China.
                                         It is considered one of the national dishes of Singapore.
                                        <br> <br> <br>  <span style="font-weight:bold;">Calories:</span> 2000 <br>
                        <span style="font-weight:bold;">Fat:</span> 20gm <br> <span style="font-weight:bold;">Sodium:</span> 2gm </p>
                    <a href="#" class="btn btn-primary">₹ 180</a>
                </div>
            </div>
        </div>
            </div>
    </div>

    <div  id="divider_3 >
        <div class="container">
            <div clsas="row">
                <div class="col-lg-2 col-sm-2">
                    Hols
                </div>
                <div class="col-lg-10 col-sm-10">

                    <div class="fb-comments" data-href="http://mthaldi.pythonanywhere.com/" data-width="900" data-numposts="10"></div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}